<div class="container">
  <h1>
    <%= @task.details %>
  </h1>
  <% if @task.completed == true %>
    <p>This task is completed</p>
  <% else %>
    <p>This task is not completed</p>
  <% end %>

  <%= link_to "Edit this task", edit_task_url %>
  <%= link_to "Back to list", tasks_path %>
</div>
